#Data Types and Structures Questions

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently.
  - They are important as it provides efficient data storage and retrieval, help manage large volumes of data,improve readability and reduce code complexity.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable Datatypes- Datatypes which can be changed after creation.
  Examples- List, Set
  - Immutable Datatypes- Datatypes which can't be changed after creation.
  Examples- Tuple

3. What are the main differences between lists and tuples in Python?
  - List
    - are mutable
    - is of type - [1,2,3]
    - Performance is slow
  - Tuple
    - are immutable
    - is of type - (1,2,3)
    - Performance is fast

4. Describe how dictionaries store data
  - Dictionaries store data in the form of key value pairs in which all the keys are unique and values can be anything. It is enclosed in {}.

In [ ]:
student = {
    "name": "Alice",
    "age": 21,
    "course": "Python"
}

5. Why might you use a set instead of a list in Python?
  - Set is more useful than a list in places where we don't need a specific order of elements and also no duplicate elements are allowed.

6. What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters, enclosed in ' ' or " " .
  - Strings are immutable, whereas list is mutable.

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning once created, their values cannot be changed. It means like it can be used to store important passwords.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table in Python, implemented through the dict type, is a data structure that stores key-value pairs. It uses a hash function to compute an index for each key, allowing for fast access to the corresponding value. When a key is provided, the hash function calculates its position in the table, enabling quick retrieval, insertion, and deletion of elements. Dictionary in python is implemented using a hash table.

9. Can lists contain different data types in Python?
  - Yes, Python can contain different data types in a single list.

10. Explain why strings are immutable in Python?
  - Strings are immutable because:
     - Security & Integrity: Prevents accidental changes — useful in things like dictionary keys.
     - Hashing: Immutable objects can be hashed → required for efficient storage in sets and dict keys.
     - Performance: Internally, immutability allows Python to optimize memory with string interning (reusing identical strings).
    - If you want a modified string, you must create a new one:
        new_s = "H" + s[1:]

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries are better than lists as searching in dictionaries is done on the basis of keys and not on indexes which makes searching of values easier, and it makes the representation and structuring of data easier.

12. Describe a scenario where using a tuple would be preferable over a list?
  - A tuple is preferred over lists at places where data needs to be immutable and we dont want our data to modify.

13.  How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates.
  They are unordered collections of unique elements.
  Even if we try to add a duplicate, it won't be included.

14. How does the “in” keyword work differently for lists and dictionaries?
  - "in" in lists search for the value in lists like 3 in [1,2,3] returns True, whereas "in" in dictionary searchs for keys like 'name' in {"name": "Ali"} returns True. whereas "Ali" in {"name": "Ali"} returns False.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, we cannot modify a tuple once it's created, because tuples are immutable.

In [ ]:
t = (1, 2, 3)
t[0] = 10     # TypeError

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary inside another dictionary.
  - It is used to organise complex, structured data, like storing student records with roll number as keys.

In [ ]:
students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 21}
}

17. Describe the time complexity of accessing elements in a dictionary.
  - Average case - O(1)- Constant Time
  - This is because dictionary uses a hash table, and its value is accessed directly.

18. In what situations are lists preferred over dictionaries?
  - List is preferred over dictionaries where the position or indexing matters. Operartions or traversing needs to be done in a sequential order, at places where we need only the values , not the key value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Their primary feature is key-based access, not order.
  Also internally, they use a hash table, not a list-like structure.
  - This affect data retrieval as access by key is very fast.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In lists, accessing of elements is done on basis of their indexes and position like list[2]. Whereas in dictionary , searching is done on the basis of keys, and the searching in dictionary is faster than that in lists as it uses hash table.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Kartik"
print(name)

Kartik

2. Write a code to find the length of the string "Hello World".

In [3]:
str= "Hello world"
print(len(str))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [5]:
word = "hello"

print(word.upper())  # Output: HELLO

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)  # Output: I like orange

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])  # Output: b

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)  # Output: [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
tup = (100, 200, 300)
print(tup)  # Output: (100, 200, 300)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
tup = (10, 20, 5, 15)
print(min(tup))  # Output: 5

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))  # Output: 1

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)  # Output: {'a', 'b', 'c'}

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

20. 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {1, 2, 3, 4, 5}

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])  # Output: Alice

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists")
else:
    print("Key 'city' does not exist")

Key 'city' exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {"key1": "value1", "key2": "value2"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'key1': 'value1', 'key2': 'value2'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [29]:
import random
numbers = random.sample(range(1, 101), 5)  # 5 unique random numbers
numbers.sort()
print("Sorted numbers:", numbers)

Sorted numbers: [7, 47, 59, 67, 79]

28. Write a code to create a list with strings and print the element at the third index.

In [30]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", words[3])  # Output: date

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [32]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.  Write a code to convert a list of strings into a set.

In [33]:
string_list = ["apple", "banana", "apple", "orange"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'orange'}